################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GuitarMarket1/bin/Debug
/GuitarMarket1/obj
